@keyframes svelte-ptbu7i-fade-in-left{0%{opacity:0;transform:translate(-30px)}to{opacity:1;transform:translate(0)}}.animate-fade-in-left.svelte-ptbu7i{animation:svelte-ptbu7i-fade-in-left .6s ease-out forwards}
